a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
}

 table .textoCentrado{
    text-align: center;
    
}

.textoCentrado{
    text-align: center;
    
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
   
}

/* body{
    background-image: url("img/fondo.jpg");
   } */